/* COLORS */
.color-amber,.hover-amber:hover{
    color:#000!important;background-color:#ffc107!important
}
.color-aqua,.hover-aqua:hover{
    color:#000!important;background-color:#00ffff!important
}.color-blue,.hover-blue:hover{
    color:#fff!important;background-color:#2196F3!important
}
.color-light-blue,.hover-light-blue:hover{
    color:#000!important;background-color:#87CEEB!important
}
.color-brown,.hover-brown:hover{
    color:#fff!important;background-color:#795548!important
}
.color-cyan,.hover-cyan:hover{
    color:#000!important;background-color:#00bcd4!important
}
.color-blue-grey,.hover-blue-grey:hover{
    color:#fff!important;background-color:#607d8b!important
}
.color-green,.hover-green:hover{
    color:#fff!important;background-color:#4CAF50!important
}
.color-light-green,.hover-light-green:hover{
    color:#000!important;background-color:#8bc34a!important
}
.color-indigo,.hover-indigo:hover{
    color:#fff!important;background-color:#3f51b5!important
}
.color-khaki,.hover-khaki:hover{
    color:#000!important;background-color:#f0e68c!important
}
.color-lime,.hover-lime:hover{
    color:#000!important;background-color:#cddc39!important
}
.color-orange,.hover-orange:hover{
    color:#000!important;background-color:#ff9800!important
}
.color-deep-orange,.hover-deep-orange:hover{
    color:#fff!important;background-color:#ff5722!important
}
.color-pink,.hover-pink:hover{
    color:#fff!important;background-color:#e91e63!important
}
.color-purple,.hover-purple:hover{
    color:#fff!important;background-color:#9c27b0!important
}
.color-deep-purple,.hover-deep-purple:hover{
    color:#fff!important;background-color:#673ab7!important
}
.color-red,.hover-red:hover{
    color:#fff!important;background-color:#f44336!important
}
.color-sand,.hover-sand:hover{
    color:#000!important;background-color:#fdf5e6!important
}
.color-teal,.hover-teal:hover{
    color:#fff!important;background-color:#009688!important
}
.color-yellow,.hover-yellow:hover{
    color:#000!important;background-color:#ffeb3b!important
}
.color-white,.hover-white:hover{
    color:#000!important;background-color:#fff!important
}
.color-black,.hover-black:hover{
    color:#fff!important;background-color:#000!important
}
.color-grey,.hover-grey:hover,{
    color:#000!important;background-color:#9e9e9e!important
}
.color-light-grey,.hover-light-grey:hover{
    color:#000!important;background-color:#f1f1f1!important
}
.color-dark-grey,.hover-dark-grey:hover{
    color:#fff!important;background-color:#616161!important
}
.color-pale-red,.hover-pale-red:hover{
    color:#000!important;background-color:#ffdddd!important
}
.color-pale-green,.hover-pale-green:hover{
    color:#000!important;background-color:#ddffdd!important
}
.color-pale-yellow,.hover-pale-yellow:hover{
    color:#000!important;background-color:#ffffcc!important
}
.color-pale-blue,.hover-pale-blue:hover{
    color:#000!important;background-color:#ddffff!important
}

/* TEXT COLORS */
.text-color-amber,.text-color-amber:hover{
    color:#ffc107!important
}
.text-color-aqua,.hover-text-color-aqua:hover{
    color:#00ffff!important
}
.text-color-blue,.hover-text-color-blue:hover{
    color:#2196F3!important
}
.text-color-light-blue,.hover-text-color-light-blue:hover{
    color:#87CEEB!important
}
.text-color-brown,.hover-text-color-brown:hover{
    color:#795548!important
}
.text-color-cyan,.hover-text-color-cyan:hover{
    color:#00bcd4!important
}
.text-color-blue-grey,.hover-text-color-blue-grey:hover,{
    color:#607d8b!important
}
.text-color-green,.hover-text-color-green:hover{
    color:#4CAF50!important
}
.text-color-light-green,.hover-text-color-light-green:hover{
    color:#8bc34a!important
}
.text-color-indigo,.hover-text-color-indigo:hover{
    color:#3f51b5!important
}
.text-color-khaki,.hover-text-color-khaki:hover{
    color:#b4aa50!important
}
.text-color-lime,.hover-text-color-lime:hover{
    color:#cddc39!important
}
.text-color-orange,.hover-text-color-orange:hover{
    color:#ff9800!important
}
.text-color-deep-orange,.hover-text-color-deep-orange:hover{
    color:#ff5722!important
}
.text-color-pink,.hover-text-color-pink:hover{
    color:#e91e63!important
}
.text-color-purple,.hover-text-color-purple:hover{
    color:#9c27b0!important}

.text-color-deep-purple,.hover-text-color-deep-purple:hover{
    color:#673ab7!important
}
.text-color-red,.hover-text-color-red:hover{
    color:#f44336!important
}
.text-color-sand,.hover-text-color-sand:hover{
    color:#fdf5e6!important
}
.text-color-teal,.hover-text-color-teal:hover{
    color:#009688!important
}
.text-color-yellow,.hover-text-color-yellow:hover{
    color:#d2be0e!important
}
.text-color-white,.hover-text-color-white:hover{
    color:#fff!important
}
.text-color-black,.hover-text-color-black:hover{
    color:#000!important
}
.text-color-grey,.hover-text-color-grey:hover{
    color:#757575!important
}
.text-color-light-grey,.hover-text-color-light-grey:hover,{
    color:#f1f1f1!important
}
.text-color-dark-grey,.hover-text-color-dark-grey:hover,{
    color:#3a3a3a!important
}

/* BORDER COLORS */
.border-color-amber,.hover-border-color-amber:hover{
    border-color:#ffc107!important
}
.border-color-aqua,.hover-border-color-aqua:hover{
    border-color:#00ffff!important
}
.border-color-blue,.hover-border-color-blue:hover{
    border-color:#2196F3!important
}
.border-color-light-blue,.hover-border-color-light-blue:hover{
    border-color:#87CEEB!important
}
.border-color-brown,.hover-border-color-brown:hover{
    border-color:#795548!important
}
.border-color-cyan,.hover-border-color-cyan:hover{
    border-color:#00bcd4!important
}
.border-color-blue-grey,.hover-border-color-blue-grey:hover,{
    border-color:#607d8b!important
}
.border-color-green,.hover-border-color-green:hover{
    border-color:#4CAF50!important
}
.border-color-light-green,.hover-border-color-light-green:hover{
    border-color:#8bc34a!important
}
.border-color-indigo,.hover-border-color-indigo:hover{
    border-color:#3f51b5!important
}
.border-color-khaki,.hover-border-color-khaki:hover{
    border-color:#f0e68c!important
}
.border-color-lime,.hover-border-color-lime:hover{
    border-color:#cddc39!important
}
.border-color-orange,.hover-border-color-orange:hover{
    border-color:#ff9800!important
}
.border-color-deep-orange,.hover-border-color-deep-orange:hover{
    border-color:#ff5722!important
}
.border-color-pink,.hover-border-color-pink:hover{
    border-color:#e91e63!important
}
.border-color-purple,.hover-border-color-purple:hover{
    border-color:#9c27b0!important
}
.border-color-deep-purple,.hover-border-color-deep-purple:hover{
    border-color:#673ab7!important
}
.border-color-red,.hover-border-color-red:hover{
    border-color:#f44336!important

.border-color-sand,.hover-border-color-sand:hover{
    border-color:#fdf5e6!important
}
.border-color-teal,.hover-border-color-teal:hover{
    border-color:#009688!important
}
.border-color-yellow,.hover-border-color-yellow:hover{
    border-color:#ffeb3b!important
}
.border-color-white,.hover-border-color-white:hover{
    border-color:#fff!important
}
.border-color-black,.hover-border-color-black:hover{
    border-color:#000!important
}
.border-color-grey,.hover-border-color-grey:hover{
    border-color:#9e9e9e!important
}
.border-color-light-grey,.hover-border-color-light-grey:hover{
    border-color:#f1f1f1!important
}
.border-color-dark-grey,.hover-border-color-dark-grey:hover,{
    border-color:#616161!important
}
.border-color-pale-red,.hover-border-color-pale-red:hover{
    border-color:#ffe7e7!important
}
.border-color-pale-green,.hover-border-color-pale-green:hover{
    border-color:#e7ffe7!important
}
.border-color-pale-yellow,.hover-border-color-pale-yellow:hover{
    border-color:#ffffcc!important
}
.border-color-pale-blue,.hover-border-color-pale-blue:hover{
    border-color:#e7ffff!important
}