html, body {
    background-color: #d1d1e0;
}

body {
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
}

header {
    background-color: #f1f1f1;
    width: 100%;
    height: 200px;
    z-index:1;
    top: 0;
    position: sticky;
    text-align: center;
    display: block;
}

.website-title {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.floating-container {
    float: left;
    padding: 5px;
    text-align: center;
}

.global-nav {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    float: none;
    clear: both;
}

.header-tab .active-header-tab{
    float: left;
    padding: 10px;
    width: 25%;
    overflow: hidden;
    vertical-align: center;
    text-align: center;
    display: inline-block;
}

.active-header-tab {
    background-color: red;
    color: white;
}

.active-header-tab a:hover {
    color:blue;
}


main {
    width: 100%;
    min-height: 600px;
    display: inline-block;
    z-index:1;
    text-align: left;
}

aside {
    margin-right: 15px;
    border: 2px solid #000!important;
    width: 30%;
    float: left
}

aside img {
    width: 100%;
}

.sidenav {
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background-color: grey;
    overflow-x: hidden;
    width: 30%;
    text-align: center;
}

.sidenav ul {
    padding: 0;
    margin: 0;
    border: 1px solid #000!important;
}

.sidenav ul li {
    text-align: center;
    border-bottom: 1px solid #000!important;
}

.sidenav ul li:last-child {
    border-bottom:0!important;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: blue;
}

article {
    margin-top: 20px;
    width: 65%;
    text-align: center;
    float: left;
    height: 100%;
    border:1px solid #000!important;
}

.home-article {
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 250px;
}

.article-sub-section {
    width: 70%;
    height: 800px;
}
.website-small{font-size:12px!important;}


footer {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
    text-align: center;
    display: block;
    width:100%;
    z-index:1;
    overflow: auto;
    bottom: 0;
    margin-top: 15px;
}

.footer-tab {
    float: left;
    padding: 10px;
    width: 500px;
    overflow: hidden;
}

.footer-panel {
    float: left;
    padding: 5px;
    text-align: center;
    width: 40%;
    margin-left: 50px;
}

.footer-panel:last-child {
    margin-left:0;
}

.footer-li-padding {
    padding-bottom:5px!important;
}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

.website-tiny{font-size:10px!important;}
.website-small{font-size:12px!important;}
.website-medium{font-size:15px!important;}
.website-large{font-size:18px!important;}
.website-xlarge{font-size:24px!important;}
.website-xxlarge{font-size:36px!important;}
.website-xxxlarge{font-size:48px!important;}
.website-jumbo{font-size:64px!important;}
.website-left-align{text-align:left!important;}
.website-right-align{text-align:right!important;}
.website-justify{text-align:justify!important;}
.website-center{text-align:center!important;}
.website-border{border:1px solid #000!important;}
.website-border-red{border:1px solid red!important;}
.website-border-blue{border:1px solid blue!important;}
.website-border-green{border:1px solid green!important;}
.website-margin{margin:16px!important;}
.website-margin-top{margin-top:16px!important;}
.website-margin-bottom{margin-bottom:16px!important;}
.website-margin-left{margin-left:16px!important;}
.website-margin-large-left{margin-left:24px!important;}
.website-margin-right{margin-right:16px!important;}
.website-padding-small{padding:4px 8px!important;}
.website-padding{padding:8px 16px!important;}
.website-padding-large{padding:12px 24px!important;}
.website-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important;
}
.website-padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important;
}
.website-padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important;
}
.website-padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important;
}
.website-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    vertical-align: bottom;
}

i {
    width: 20px;
}
a {
    color:inherit;
}
a:link, a:visited {
    color:inherit;
    text-decoration:none;
}

.small-icon{
    margin-left: 4px;
    margin-right: 12px;
}

.block{
    display: block;
    width: 100%;
}

.inline-block{
    display: inline-block;
    margin-bottom: 0;
}
